body {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.app {
    max-width: 1366px;
}

header {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid hsl(217, 16%, 45%);
}

.header-title, .header-score {
    width: 150px;
    height: 100px;
}

.header-score {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#header-score-text {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(229, 64%, 46%);
    margin: 0;
}

#header-score-count {
    font-size: 52px;
    color: hsl(229, 25%, 31%);
    margin: 0;
    letter-spacing: 3px;
}

header, .header-score, .modal-rules-content {
    border-radius: 15px;
}

.choose-figures {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px auto 0px;
    background: url(images/bg-triangle.svg) no-repeat;
    background-position: center;
}

.paper-figure, .scissors-figure, .rock-figure {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(234, 234, 234);
}

.paper-figure img, .scissors-figure img, .rock-figure img {
    width: 45%;
    align-self: center;
}

.paper-figure {
    border: 25px solid hsl(230, 89%, 65%);
    box-shadow: 0px 10px 0px 0px rgba(72, 104, 241, 0.4) inset, 0px 10px 0px 0px rgba(72, 104, 241, 0.4);
}

.scissors-figure {
    border: 25px solid hsl(40, 84%, 53%);
    box-shadow: 0px 10px 0px 0px rgba(235, 159, 14, 0.4) inset, 0px 10px 0px 0px rgba(235, 159, 14, 0.4);
}

.rock-figure {
    border: 25px solid hsl(349, 70%, 56%);
    box-shadow: 0px 10px 0px 0px rgba(223, 64, 94, 0.4) inset, 0px 10px 0px 0px rgba(223, 64, 94, 0.4);
}

#show-modal-rules {
    width: 130px;
    height: 45px;
    border: 2px solid rgb(135, 139, 166);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

#show-modal-rules p {
    font-size: 16px;
    color: #f9feff;
    letter-spacing: 3px;
}

#show-modal-rules:hover {
    box-shadow: 0px 0px 20px 5px rgba(135, 139, 166, 0.3);
}

.modal-rules {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-rules-content {
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 35px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rules-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rules-img {
    margin: 20px auto;
    width: 90%;
}

.rules-wrap p {
    font-size: 28px;
    letter-spacing: 1px;
    margin: 0;
    font-weight: bold;
    color: hsl(229, 25%, 31%);
}

.hidden {
    display: none;
}

.player-vs-computer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 50px auto 20px;
    max-width: 900px;
    text-align: center;
}

.player-vs-computer p {
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.game-result {
    align-self: center;
}

#game-result-text {
    font-size: 42px;
    margin: 0px;
}

#play-again-btn {
    width: 185px;
    height: 45px;
    border-radius: 10px;
    border: 0px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 3px;
    margin-top: 10px;
    color: rgb(67, 68, 88);
}

#play-again-btn:hover {
    color: hsl(348, 48%, 48%);
}

#player-figure, #computer-figure {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(234, 234, 234);
}

.winner {
	box-shadow: 0px 0px 0px 60px rgba(195, 209, 219, 0.2), 0px 0px 0px 120px rgba(195, 209, 219, 0.1), 0px 0px 0px 200px rgba(195, 209, 219, 0.05);
    border-radius: 50%;
    transition: 0.2s ease-out;
}

#header-score-text, #show-modal-rules p {
    font-weight: 600;
}

#header-score-count, #play-again-btn, .player-vs-computer p {
    font-weight: 700;
}